<launch>
	<!-- Topic Bases -->
	<arg name="input_base" value="snapping_turtle/input" />
	<arg name="signal_base" value="snapping_turtle/signals" />
	<arg name="actuation_base" value="snapping_turtle/actuation" />
	<arg name="state_base" value="snapping_turtle/state" />
	<arg name="perception_base" value="snapping_turtle/perception" />
	<arg name="localization_base" value="snapping_turtle/localization" />
	<arg name="navigation_base" value="snapping_turtle/navigation" />
	<arg name="feedback_base" value="snapping_turtle/feedback" />

    <!-- Intel Realsense T265 -->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        <arg name="camera" value="$(arg localization_base)/t265"/>
    </include>

    <!-- Intel Realsense D400 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="$(arg perception_base)/d400"/>
	<arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY"/> 
        <arg name="enable_pointcloud" value="true"/>
    </include>

    <!-- cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
        -configuration_directory $(find snapping_turtle_asv)/config/cartographer
        -configuration_basename snapping_turtle.lua"
        output="screen">
        <remap from="points2" to="$(arg perception_base)/d400/depth/color/points" />
        <remap from="imu" to="$(arg localization_base)/t265/imu/sample" />
        <remap from="odom" to="$(arg localization_base)/t265/odom/sample" />
    </node>

</launch>
