<launch>
	<!-- Topic Bases -->
	<arg name="input_base" value="/snapping_turtle/input" />
	<arg name="signal_base" value="/snapping_turtle/signals" />
	<arg name="actuation_base" value="/snapping_turtle/actuation" />
	<arg name="state_base" value="/snapping_turtle/state" />
	<arg name="perception_base" value="/snapping_turtle/perception" />
	<arg name="localization_base" value="/snapping_turtle/localization" />
	<arg name="navigation_base" value="/snapping_turtle/navigation" />
	<arg name="feedback_base" value="/snapping_turtle/feedback" />

	<!-- Joystick -->
	<remap from="joy" to="$(arg input_base)/joy" />
	<remap from="joystick/xinput" to="$(arg input_base)/xinput" />
	<remap from="manual_control_vel" to="$(arg actuation_base)/manual_control" />
	<include file="$(find isc_joy)/launch/joystick_xbox360.launch">
		<arg name="speed_multiplier" value="0.3"/>
		<arg name="turn_multiplier" value="0.4"/>
	</include>

	<!-- robot state control -->
	<remap from="state/robot" to="$(arg state_base)/system" />
	<remap from="signal/kill" to="$(arg signal_base)/kill" />
	<remap from="signal/pause" to="$(arg signal_base)/pause" />
	<remap from="signal/soft_pause" to="$(arg signal_base)/soft_pause" />
	<include file="$(find robot_state_controller)/launch/robot_state_controller/state_control.launch" />

	<!-- drive mode switch -->
	<remap from="robot_state" to="$(arg state_base)/system" />
	<remap from="joystick" to="$(arg input_base)/xinput" />
	<remap from="auto_control_vel" to="$(arg actuation_base)/auto_control" />
	<remap from="manual_control_vel" to="$(arg actuation_base)/manual_control" />
	<remap from="control_vel" to="$(arg actuation_base)/control" />
	<remap from="drive_mode" to="$(arg state_base)/drive_mode" />
	<include file="$(find robot_state_controller)/launch/drive_mode_switch/switch.launch" />

	<!-- Motor controllers -->
	<arg name="left_vesc_name" default="left_vesc_driver_node" />

  <!-- Optionally launch in GDB, for debugging -->
  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- VESC driver parameters -->
  <arg name="left_vesc_port" default="/dev/ttyACM0" />

  <!-- VESC driver node -->
<remap from="commands/motor/duty_cycle" to="$(arg actuation_base)/left_vesc/commands/motor/duty_cycle" />
  <node pkg="vesc_driver" type="vesc_driver_node" name="$(arg left_vesc_name)"
        output="screen" launch-prefix="$(arg launch_prefix)" >
    <param name="port" value="$(arg left_vesc_port)" />
  </node>

	<arg name="right_vesc_name" default="right_vesc_driver_node" />



  <!-- VESC driver parameters -->
  <arg name="right_vesc_port" default="/dev/ttyACM1" />

  <!-- VESC driver node -->
  <node pkg="vesc_driver" type="vesc_driver_node" name="$(arg right_vesc_name)"
        output="screen" launch-prefix="$(arg launch_prefix)" >
    <param name="port" value="$(arg right_vesc_port)" />
  </node>
<remap from="control" to="$(arg actuation_base)/control" />	
<remap from="left_duty_cycle" to="$(arg actuation_base)/left_vesc/commands/motor/duty_cycle" />
<node pkg="snapping_turtle_asv" type="vesc_translator_node" name="vesc_translator_node"/>

</launch>
