[submodule "robot_state_controller"]
	path = robot_state_controller
	url = https://github.com/iscumd/robot_state_controller.git
	branch = master
[submodule "isc_joy"]
	path = isc_joy
	url = https://github.com/iscumd/isc_joy.git
	branch = master
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
