<?xml version="1.0"?>
<model>
    <name>snapping_turtle</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>David Cutting</name>
        <email>dcutting@umich.edu</email>
    </author>

    <description>A ROS based ASV garbage collection system for calm waters.</description>

</model>
